body {
	background-image: url("../images/gemstone-background.jpg");
	background-position: bottom;
}

h1 {
	font-family: 'Lakki Reddy', cursive;
	color: aliceblue;
	text-shadow: 6px 6px 3px #4b6682;
	text-align: center;
	font-size: 72px;
}

img {
	height: 195px;
	width: 195px;
	margin: auto;
}

.keep {
	height: 190px;
	width: 260px;	
	background-color: white;
	margin-bottom: 100px;
	outline: 5px solid #4b6682;
}

h2 {
	text-align: center;
	vertical-align: middle;
}